<div id="<%= dom_id article %>">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= article.location %>
  </p>

  <p>
    <strong>Exerpt:</strong>
    <%= article.exerpt %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= article.body %>
  </p>

  <p>
    <strong>Published at:</strong>
    <%= article.published_at %>
  </p>

</div>
